{% extends "planning/base.html" %}

{% block titulo %}Eliminar meta{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-10 offset-1">
        <h3>Confirmar Eliminación de Meta</h3>
        <div class="alert alert-danger h5">
            ¿Estás seguro de que deseas eliminar la meta "{{ goal.item }}" de {{ goal.employee }}?
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col"><a class="btn btn-dark" href="{% url 'planning:goal_list' %}">Cancelar</a></div>
                <div class="col"><button class="btn btn-danger" type="submit">Confirmar Eliminación</button></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
